if command -v guix >/dev/null 2>&1; then
  echo "Guix is available"
  eval "$(guix shell --search-paths)"
elif command -v nix >/dev/null 2>&1; then
  echo "Nix is available"
  use nix
else
  echo "Neither Guix nor Nix found"
fi
